{{ define "main" }}

{{- if (and site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }} {{/* if not profileMode */}}

{{- if not .IsHome | and .Title }}
<main id="main" class="archive">
  {{ $pages := union .RegularPages .Sections }}

  <!--{{ if .IsHome }}-->
  <!--  {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}-->
  <!--  {{ $pages = where $pages "Params.hiddenInHomeList" "!=" "true" }}-->
  <!--{{ end }}-->
  
  {{ $paginator := .Paginate $pages }}

  {{ range $paginator.Pages.GroupByDate "2006-01" }}
  <div class="post-group">
    <h3>{{ dateFormat "January 2006" (printf "%s-01" .Key) }}</h3>
    <ul>
      {{ range .Pages }}
      <li>
        <a class="link" href="{{ .Permalink }}">{{ .Title }}</a>
        <time>{{ .PublishDate.Format .Site.Params.dateFormat }}</time>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  
  <div class="post-group">
    <h3>...</h3>
  </div>
</main>
{{ end }}
{{- end }}{{/* end profileMode */}}

{{- end }}{{- /* end main */ -}}
