.archive-posts {
    width: 100%;
    font-size: 16px;
}

.archive-year {
    margin-top: 40px;
}

.archive-year:not(:last-of-type) {
    border-bottom: 2px solid var(--border);
}

.archive-month {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

.archive-month-header {
    margin: 25px 0;
    width: 200px;
}

.archive-month:not(:last-of-type) {
    border-bottom: 1px solid var(--border);
}

.archive-entry {
    position: relative;
    padding: 5px;
    margin: 10px 0;
}

.archive-entry-title {
    margin: 5px 0;
    font-weight: 400;
}

.archive-count,
.archive-meta {
    color: var(--secondary);
    font-size: 14px;
}
.post-group > ul {
  border-left: var(--fg4) solid var(--border);
  list-style-type: none;
  margin-left: 0.5rem;
  padding-left: var(--margin);
}

.post-group > ul > li {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.6;
}

.post-group > ul > li > time {
  text-align: right;
}

@media screen and (min-width: var(--mobile-breakpoint)) {
  .post-group > ul {
    margin-left: 1rem;
    padding-left: 2rem;
  }
}

.post-group a {
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.post-group a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;

  &:link {
    color: var(--blue);
  }

  &:hover,
  &:visited {
    color: var(--blue-dim);
  }
}
